
* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
